---
Checks:                 '-*,modernize-*,performance-*,boost-*'
WarningsAsErrors:       ''
HeaderFilterRegex:      'boost\/numeric\/ublas\/tensor\/.*'
AnalyzeTemporaryDtors:  false
FormatStyle:            file
User:                   ublas-developers
CheckOptions:
  - key:                modernize-use-nullptr.NullMacros
    value:              'NULL'
...
